<ion-header no-border text-center>
  <ion-navbar color='yel' >
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>桔家</ion-title>
    <ion-buttons end>
        <button ion-button icon-only>
          <ion-icon name="ios-search"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <!-- 导航栏 -->
    <ul class='navList'>
      <li *ngFor='let item of arr;let idx=index' (click)='isClick(idx)' [class.first]='isActive==idx'>{{arr[idx]}}</li>
    </ul>
    <!-- <ul class='navList'>
        <li [class.first]="isActive==0" (click)='isClick(0)'>推荐</li>
        <li [class.first]="isActive==1" (click)='isClick(1)'>家居</li>
        <li [class.first]="isActive==2" (click)='isClick(2)'>餐厨</li>
        <li [class.first]="isActive==3" (click)='isClick(3)'>床上用品</li>
      </ul> -->

      <div [ngSwitch]='isActive'>

        <div *ngSwitchCase="0">
          <!-- 轮播 -->
          <ion-slides pager='true' autoplay='1000' loop='true' class='sli'>
            <ion-slide><img src="../assets/imgs/banner.png"></ion-slide>
            <ion-slide><img src="../assets/imgs/banner.png"></ion-slide>
            <ion-slide><img src="../assets/imgs/banner.png"></ion-slide>
          </ion-slides>
          <div class='subtitle'>
            <h3 text-center>热|门|推|荐</h3>
            <p text-center>RECOMMENDATION</p>
          </div>
          <ul class='goods'>
            <li>
              <img src="../assets/imgs/1.png">
              <p>——北欧原木色——</p>
              <span><ion-icon  name="md-star-half"></ion-icon></span>
            </li>
            <li>
              <img src="../assets/imgs/2.png">
              <p>——北欧原木色——</p>
              <span><ion-icon  name="md-star-half"></ion-icon></span>
            </li>
            <li>
              <img src="../assets/imgs/4.png">
              <p>——北欧原木色——</p>
              <span><ion-icon  name="md-star-half"></ion-icon></span>
            </li>
            <li>
              <img src="../assets/imgs/3.png">
              <p>——北欧原木色——</p>
              <span><ion-icon  name="md-star-half"></ion-icon></span>
            </li>
          </ul>
        </div>

        <div *ngSwitchCase="1">
          <ion-slides pager='true' autoplay='1000' loop='true' class='sli'>
            <ion-slide><img src="../assets/imgs/banner1.png"></ion-slide>
            <ion-slide><img src="../assets/imgs/banner1.png"></ion-slide>
            <ion-slide><img src="../assets/imgs/banner1.png"></ion-slide>
          </ion-slides>
          <ul class='c1list'>
            <li>
                <img src="../assets/imgs/title0.png">
                <p>客厅</p>
            </li>
            <li>
                <img src="../assets/imgs/title2.png">
                <p>书房</p>
            </li>
            <li>
                <img src="../assets/imgs/title3.png">
                <p>门厅</p>
            </li>
          </ul>
          <div class='subtitle'>
              <h3 text-center>桔|子|家|居</h3>
              <p text-center>Orangge&nbsp;household</p>
          </div>
          <ul class='goods'>
              <li>
                <img src="../assets/imgs/img5.png">
                <p>——北欧原木色——</p>
                <span><ion-icon  name="md-star-half"></ion-icon></span>
              </li>
              <li>
                <img src="../assets/imgs/img6.png">
                <p>——北欧原木色——</p>
                <span><ion-icon  name="md-star-half"></ion-icon></span>
              </li>
            </ul>
        </div>
        <div *ngSwitchCase="2">
          bookmark
        </div>
        <div *ngSwitchCase="3">
          bookmark
        </div>
      </div>

</ion-content>
<!-- <ion-content padding> -->
  <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->
  <!-- <c #ac></c> -->
  <!-- <ion-segment [(ngModel)]="icons" color="secondary">
    <ion-segment-button value="camera">
        <ion-icon name="camera"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="bookmark">
        <ion-icon name="bookmark"></ion-icon>
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]='icons'>
    <div *ngSwitchCase="'camera'">
      这是camera
    </div>
    <div *ngSwitchCase="'bookmark'">
      这是bookmark
    </div>
  </div>

  <input type="text" #inp>
  <button ion-button menuToggle>开关菜单</button>
  <button ion-button block (click)="goSub()">跳转</button>

  <ion-list no-lines>
    <ion-list-header>
      Header
    </ion-list-header>
  
    <ion-item>
      Item
    </ion-item>
  
    <ion-item detail-push>
      Item with Detail Arrow
    </ion-item>
  
    <button ion-item (click)="buttonClick()">
      Button Item
    </button>
  
    <ion-item-divider>
      Item Divider
    </ion-item-divider>
  
    <button ion-item detail-none (click)="buttonClick()">
      Button Item with no Detail Arrow
    </button>
  
    <ion-item no-lines>
      Item with no border
    </ion-item>
  
    <ion-item text-wrap>
      Multiline text that should wrap when it is too long
      to fit on one line in the item.
    </ion-item>
  </ion-list>
  
  <ion-list>
      <ion-item *ngFor="let i of items">{{i}}</ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-grid>
      <ion-row>
        <ion-col>
          1 of 2
        </ion-col>
        <ion-col>
          2 of 2
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          1 of 3
        </ion-col>
        <ion-col>
          2 of 3
        </ion-col>
        <ion-col>
          3 of 3
        </ion-col>
      </ion-row>
    </ion-grid> -->
<!-- </ion-content> -->




